<div class="container"> 
<h1>NETFLIX TONIGHT!</h1>
<p>choose a category to randomly get something to watch</p>
<form id="comedy" action="/netflix/comedy"  method="post">
	<input type = "button" value="comedy">
</form>
<form id="action" action="/netflix/action"  method="post">
	<input type = "button" value="action">
</form>

<div class="suggestion">
	


</div>

</div>
